.audio-player {
  display: grid;
  gap: var(--gap);
  border: 1px solid #ebebeb;
  border-radius: var(--gap);
  padding: var(--gap);
  box-shadow: 0 7px 16px 0 var(--box-shadow-color);
  background-color: #fff;
}

.track-name {
  display: grid;
  grid-template-columns: auto 1fr;
  font-size: 1rem;
  gap: var(--gap);
  align-items: end;
  font-size: 0.8rem;
  max-width: 530px;
  align-items: center;
}

.track-name strong {
  color: var(--text-color);
  font-weight: bold;
}

.track-name .title {
  color: var(--name-color);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.track-info {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: var(--gap);
}

.track-ranges {
  display: grid;
  grid-template-columns: auto auto;
  gap: var(--gap);
}

.buttons-control {
  display: grid;
  grid-template-columns: repeat(5, var(--control-size));
  gap: var(--gap);
  align-items: center;
}

.buttons-control button {
  display: grid;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  transition: opacity var(--duration);
}

.buttons-control button svg path {
  fill: var(--control-color);
}

.buttons-control button:focus {
  opacity: var(--opacity-focus);
}

.buttons-control button:hover {
  opacity: var(--opacity-hover);
}

.buttons-control button.repeat,
.buttons-control button.shuffle {
  opacity: 0.2;
}

.progress-control {
  display: grid;
  grid-template-columns:
    var(--current-time-width)
    minmax(80px, 120px)
    var(--duration-time-width);
  align-items: center;
  gap: var(--gap);
}

.progress-control .current-time,
.progress-control .duration-time {
  display: grid;
  font-size: 0.9rem;
  color: var(--text-color);
}

.volume-control {
  display: grid;
  grid-template-columns:
    var(--control-size-small)
    minmax(40px, 60px);
  gap: 2px;
  align-items: center;
}

.volume-control button {
  display: grid;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  transition: opacity var(--duration);
}

.volume-control button svg path {
  fill: var(--control-color);
}

.volume-control button:focus {
  opacity: var(--opacity-focus);
}

.volume-control button:hover {
  opacity: var(--opacity-hover);
}

/* General styles */
.volume-control input[type='range'],
.progress-control input[type='range'] {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  width: 100%;
  margin: 0;
  background: transparent; /* Otherwise white in Chrome */
}

/* WebKit-specific styles */
.volume-control input[type='range']::-webkit-slider-runnable-track,
.progress-control input[type='range']::-webkit-slider-runnable-track {
  width: 100%;
  height: var(--track-height);
  cursor: pointer;
  animate: 0.2s;
  background: var(--track-background-color);
  border-radius: var(--track-border-radius);
}

.volume-control input[type='range']::-webkit-slider-thumb,
.progress-control input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: var(--thumb-size);
  height: var(--thumb-size);
  background-color: var(--thumb-background-color);
  border-radius: 50%;
  cursor: pointer;
  margin-top: -4px; /* Center the thumb on the track */
  border: 2px solid #fff;
  box-shadow: 0px 1px 4px 0px #00000026;
}

/* Mozilla-specific styles */
.volume-control input[type='range']::-moz-range-track,
.progress-control input[type='range']::-moz-range-track {
  width: 100%;
  height: var(--track-height);
  cursor: pointer;
  background-color: var(--track-background-color);
  border-radius: var(--track-border-radius);
  border: 2px solid #fff;
  box-shadow: 0px 1px 4px 0px #00000026;
}

.volume-control input[type='range']::-moz-range-thumb,
.progress-control input[type='range']::-moz-range-thumb {
  width: var(--thumb-size);
  height: var(--thumb-size);
  background-color: var(--thumb-background-color);
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid #fff;
  box-shadow: 0px 1px 4px 0px #00000026;
}

/* IE-specific styles */
.volume-control input[type='range']::-ms-track,
.progress-control input[type='range']::-ms-track {
  width: 100%;
  height: var(--track-height);
  cursor: pointer;
  background-color: transparent;
  border-color: transparent;
  color: transparent;
}

.volume-control input[type='range']::-ms-fill-lower,
.progress-control input[type='range']::-ms-fill-lower {
  background-color: var(--track-background-color);
  border-radius: var(--track-border-radius);
}

.volume-control input[type='range']::-ms-fill-upper,
.progress-control input[type='range']::-ms-fill-upper {
  background-color: var(--track-background-color);
  border-radius: var(--track-border-radius);
}

.volume-control input[type='range']::-ms-thumb,
.progress-control input[type='range']::-ms-thumb {
  width: var(--thumb-size);
  height: var(--thumb-size);
  background-color: var(--thumb-background-color);
  border-radius: 50%;
  cursor: pointer;
}

/* Additional styles */
.volume-control input[type='range']:focus,
.progress-control input[type='range']:focus {
  outline: none;
}

.volume-control input[type='range']:focus::-webkit-slider-runnable-track,
.progress-control input[type='range']:focus::-webkit-slider-runnable-track {
  background-color: var(--track-background-color-focus);
}

.volume-control input[type='range']:focus::-moz-range-track,
.progress-control input[type='range']:focus::-moz-range-track {
  background-color: var(--track-background-color-focus);
}

.volume-control input[type='range']:focus::-ms-fill-lower,
.progress-control input[type='range']:focus::-ms-fill-lower {
  background-color: var(--track-background-color-focus);
}

.volume-control input[type='range']:focus::-ms-fill-upper,
.progress-control input[type='range']:focus::-ms-fill-upper {
  background-color: var(--track-background-color-focus);
}

@media (min-width: 800px) {
  .audio-player {
    grid-template-rows: auto auto;
  }

  .track-name {
    max-width: 740px;
  }

  .progress-control {
    grid-template-columns:
      var(--current-time-width)
      minmax(250px, 300px)
      var(--duration-time-width);
  }

  .volume-control {
    grid-template-columns:
      var(--control-size-small)
      minmax(50px, 100px);
  }
}
