$white: #fff;
$black: #000;
$player-border-color: #dedede;
$player-box-shadow-color: #00000012;
$range-control-box-shadow-color: #00000026;
$gap: 10px;
$player-border-radius: 1rem;
$control-size: 2rem;
$control-size-molile: 3rem;
$control-size-small: 1.4rem;
$current-time-width: 30px;
$duration-time-width: 40px;
$track-background-color: #4a4a4a;
$track-background-color-focus: #595959;
$track-border-radius: 4px;
$thumb-background-color: #4a4a4a;
$thumb-size: 14px;
$track-height: 4px;
$control-color: #000;
$text-color: #888;
$name-color: #222;
$duration: 0.3s;
$opacity-hover: 0.6;
$opacity-focus: 0.7;
