body {
  font-family: Lato, sans-serif;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #dedede;
}

#svelte-audio-player {
  height: inherit;
  display: grid;
  align-items: center;
}
